/* Circle Chart Area css
============================================================================================ */
.circle_chart_area{
    padding: 85px 0px 80px 0px;
}
.circle_progress{
    .circle_progress_inner{
        position: relative;
        max-width: 175px;
        margin: auto;
        strong{
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
            text-align: center;
            font-size: 36px;
            font-family: $rob;
            font-weight: 500;
            color: $dip;
            margin-top: -13px;
        }
        h4{
            font-size: 14px;
            font-family: $rob;
            color: $pfont;
            font-weight: 500;
            position: absolute;
            left: 0px;
            top: 50%;
            transform: translateY(-50%);
            width: 100%;
            text-align: center;
            margin-top: 18px;
        }
        .percentage{
            height: 20px;
            width: 20px;
            border-radius: 50%;
            position: absolute;
            left: -8px;
            top: 2px;
            background: #80cfff; /* Old browsers */
            background: -moz-linear-gradient(left, #80cfff 0%, #997aff 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left, #80cfff 0%,#997aff 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right, #80cfff 0%,#997aff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80cfff', endColorstr='#997aff',GradientType=1 ); /* IE6-9 */
            &:after{
                content: "";
                height: 10px;
                width: 10px;
                border-radius: 50%;
                position: absolute;
                left: 5px;
                top: 5px;
                background: #fff;
            }
        }
    }
}

/* End Circle Chart Area css
============================================================================================ */