/* Portfolio Area css
============================================================================================ */
.portfolio_area{
    border-bottom: 2px solid #fff;
}
.portfolio_filter{
    padding: 95px 0px 130px 0px;
    ul{
        li{
            display: inline-block;
            margin-right: 40px;
            a{
                font-size: 18px;
                font-family: $rob;
                font-weight: bold;
                color: #7e8d9c;
                @include transition;
            }
            &:last-child{
                margin-right: 0px;
            }
            &:hover, &.active{
                a{
                    color: $dip;
                }
            }
        }
    }
}
.wd_25{
    width: 25%;
}
.wd_50{
    width: 50%;
}
.ms_portfolio_inner{
    overflow: hidden;
    .ms_p_item{
        float: left;
        img{
            width: 100%;
        }
    }
}
/* End Portfolio Area css
============================================================================================ */